<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>

    <center>
        <h1>Fixed Roof Tank Calculations</h1>
    </center>

    <center>
        <iframe id='map' src="/map" width="600" height="500" frameBorder="0"></iframe>
    </center>

        <br>

    <center>
        <iframe id='detail' src="/emissiondetail" width="600" height="700" frameBorder="0"></iframe>
    </center>

        <br>

    <center>
        <iframe id='summary' src="/summary" width="600" height="75" frameBorder="0"></iframe>
    </center>

</body>

</html>
