<table border="1" class="dataframe emission summary">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>facility_name</th>
      <td>Marathon Refinery Carson</td>
      <td>Marathon Refinery Carson</td>
      <td>Marathon Refinery Carson</td>
    </tr>
    <tr>
      <th>tank_name</th>
      <td>Tank 100019</td>
      <td>Tank 100019</td>
      <td>Tank 100019</td>
    </tr>
    <tr>
      <th>tank_type</th>
      <td>Vertical</td>
      <td>Vertical</td>
      <td>Vertical</td>
    </tr>
    <tr>
      <th>component</th>
      <td>Cyclohexane</td>
      <td>Benzene</td>
      <td>Toluene</td>
    </tr>
    <tr>
      <th>cas_no</th>
      <td>00110-82-7</td>
      <td>00071-43-2</td>
      <td>00108-88-3</td>
    </tr>
    <tr>
      <th>mw</th>
      <td>84.15999999999998</td>
      <td>78.11</td>
      <td>92.13</td>
    </tr>
    <tr>
      <th>component</th>
      <td>Cyclohexane</td>
      <td>Benzene</td>
      <td>Toluene</td>
    </tr>
    <tr>
      <th>comp_amt</th>
      <td>101</td>
      <td>2812</td>
      <td>258</td>
    </tr>
    <tr>
      <th>antoine_coef_a</th>
      <td>6.841</td>
      <td>6.905</td>
      <td>6.954</td>
    </tr>
    <tr>
      <th>antoine_coef_b</th>
      <td>1201.53</td>
      <td>1211.033</td>
      <td>1344.8</td>
    </tr>
    <tr>
      <th>antoine_coef_c</th>
      <td>222.65</td>
      <td>220.79</td>
      <td>219.48</td>
    </tr>
    <tr>
      <th>comp_vp</th>
      <td>1.40932</td>
      <td>1.36353</td>
      <td>0.392854</td>
    </tr>
    <tr>
      <th>comp_vp_tlx</th>
      <td>1.58881</td>
      <td>1.54154</td>
      <td>0.450874</td>
    </tr>
    <tr>
      <th>comp_vp_tln</th>
      <td>1.24691</td>
      <td>1.2029</td>
      <td>0.34128</td>
    </tr>
    <tr>
      <th>comp_mole</th>
      <td>1.2001</td>
      <td>36.0005</td>
      <td>2.80039</td>
    </tr>
    <tr>
      <th>comp_mole_xi</th>
      <td>0.0300016</td>
      <td>0.89999</td>
      <td>0.070008</td>
    </tr>
    <tr>
      <th>comp_partial</th>
      <td>0.0422819</td>
      <td>1.22716</td>
      <td>0.0275029</td>
    </tr>
    <tr>
      <th>comp_vap_mole_frac</th>
      <td>0.032601</td>
      <td>0.946193</td>
      <td>0.0212059</td>
    </tr>
    <tr>
      <th>comp_vapor_mw_xi</th>
      <td>2.7437</td>
      <td>73.9071</td>
      <td>1.9537</td>
    </tr>
    <tr>
      <th>comp_partial_tln</th>
      <td>0.0374092</td>
      <td>1.0826</td>
      <td>0.0238924</td>
    </tr>
    <tr>
      <th>comp_partial_tlx</th>
      <td>0.047667</td>
      <td>1.38737</td>
      <td>0.0315648</td>
    </tr>
    <tr>
      <th>vap_mole_xi</th>
      <td>274.37</td>
      <td>7390.71</td>
      <td>195.37</td>
    </tr>
    <tr>
      <th>vap_wt_xi</th>
      <td>0.0349052</td>
      <td>0.94024</td>
      <td>0.0248547</td>
    </tr>
    <tr>
      <th>stand_loss_xi</th>
      <td>294.283</td>
      <td>7927.09</td>
      <td>209.548</td>
    </tr>
    <tr>
      <th>work_loss_xi</th>
      <td>0.711251</td>
      <td>19.159</td>
      <td>0.506457</td>
    </tr>
    <tr>
      <th>total_loss_xi</th>
      <td>294.994</td>
      <td>7946.25</td>
      <td>210.055</td>
    </tr>
  </tbody>
</table>